build/bin/
build/main.o
build/tests/
*.tar.*
Testing
test_results.xml

build/
*.o
*.a
*.so
*.exe
*.out
*.elf
*.cmake
*.bin
*.make
*.local
*.vscode/
.idea/
cmake-build-*/
Testing/
docs/
*.user
compile_commands.json
.cache/
*.make
*.local
CMakeFiles/
*/CMakeFiles/
